{% extends 'base.html.twig' %}

{% block head_title %}
    Consultation numérique
{% endblock %}

{% block main_title %}
    Consultation numérique
{% endblock %}
{% block sub_main_title %}
    {{ bookNbre }}
{% endblock %}

{% block body %}
    <div class="ui container">
        <div class="ui center aligned four column grid">
            <!-- Content -->
            {% for book in books %}
                <div class="column">
                    <div class="ui yellow card">
                        <div class="ui fluid dimmable image"
                             style="height: 175px; background: url({% path book.coverImage.media, 'reference' %}); background-size:cover">
                            <div class="ui left aligned dimmer">
                                <div class="center aligned content">
                                    <p>
                                        {{ book.summary }}
                                    </p>
                                    {% import 'book/_macro_book-data.html.twig' as b %}
                                    <a class="ui primary button" book-data='{{ b.bookData(book.bookHasMedias) }}'>Consulter</a>
                                </div>
                            </div>
                        </div>
                        <div class="left aligned content">
                            <div class="header">{{ book.title }}</div>
                            <div class="meta">
                                <span class="right floated time">{{ book.publishedYear }}</span>
                                <span class="category">{{ book.author }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="ui page dimmer">
    </div>
{% endblock %}

{% block javascripts %}

    <script src="/js/turn.js"></script>

    <script>
        /* Post cards dimmer */
        $('.dimmable.image').dimmer({
            on: 'hover'
        });

        // Card click event
        $('a.ui.button').click(function(){
            // Reset old dimmer
            $('.page.dimmer').empty();

            // Create element
            var content = document.createElement('div');
            content.classList = "ui center aligned transparent segments";
            content.innerHTML = this.getAttribute('book-data');

            // Set new Dimmer
            $('.page.dimmer')
                .dimmer('add content', content)
                .dimmer('toggle');


            // Init flipbook
            $("#flipbook").turn({
                width: 1100,
                height: 750
            });
            // Disable animations
            $('#flipbook').turn('disable', true);
            // Previous button
            $('#left-button').click(function(){
                $('#flipbook').turn('previous');
            });
            // Next button
            $('#right-button').click(function(){
                $('#flipbook').turn('next');
            });
            $('i').click(function(){
                $('.page.dimmer').dimmer('hide')
            });
            // Keyboard control
            $(window).bind('keydown', function(e){
                // Left key
                if (e.keyCode==37)
                    $('#flipbook').turn('previous');
                // Right key
                else if (e.keyCode==39)
                    $('#flipbook').turn('next');
            });
        });
    </script>
{% endblock %}