{% extends 'base.html.twig' %}

{% block head_title %}
    Fiches thématique
{% endblock %}

{% block main_title %}
    Fiches thématique
{% endblock %}
{% block sub_main_title %}
    {{ postNbre }}
{% endblock %}

{% block body %}
<!-- Posts -->
<div class="ui posts container ui center aligned four column grid">
    {% for post in posts %}
        <!-- Post Item -->
        <section class="column">
            <!-- Card -->
            <div class="ui pink card">

                <!-- Image Block -->
                <a href="{{ post.showUrl }}">
                    <div class="ui dimmable fluid image"
                         style="height: 175px; background: url({% path post.coverImage.media, 'reference' %}); background-size:cover">
                    </div>
                </a>

                <!-- Content block -->
                <div class="content">
                    <!-- Top row infos -->
                    <a href="{{ post.showUrl }}" class="left aligned header">{{ post.title }}</a>
                    <div class="left aligned description">
                        {{ post.summary }}
                    </div>
                </div>

                <!-- Horizontal labeled list -->
                <div class="ui extra content">
                    <div class="center aligned">
                        <div class="ui large horizontal divided list">
                            <!-- Pictures block -->
                            <div class="item">
                                <div class="content">
                                    <i class="ui camera retro icon"></i>
                                    {{ post.imgNbre }}
                                </div>
                            </div>

                            <!-- Videos Block -->
                            <div class="item">
                                <div class="content">
                                    <i class="ui film icon"></i>
                                    {{ post.videoNbre }}
                                </div>
                            </div>

                            <!-- Music Block -->
                            <div class="item">
                                <div class="content">
                                    <i class="ui music icon"></i>
                                    {{ post.songNbre }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    <script>
        /* Post cards dimmer */
        $('.posts.cards .fluid.image').dimmer({
            on: 'hover'
        });
    </script>
{% endblock %}