{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/player.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
{% endblock %}

{% block main_title %}
    {{ post.title }}
{% endblock %}
{% block sub_main_title %}
    {{ post.creationDate }}
{% endblock %}

{% block body %}
    <section class="ui container">
        <div class="ui grid">
            <div class="ui twelve wide column">
                <article class="ui left aligned clearing segment">
                    {{ post.rawContent|raw }}
                </article>
            </div>
            <div class="ui four wide column">
                <div id="player" class="ui segment">
                    <div class="content">
                        {% include 'elements/_player.html.twig' %}
                    </div>
                </div>
                <div id="list" class="ui fluid vertical menu">
                </div>
            </div>  
        </div>
        <div class="ui segments">
            <div class="ui segment">
                <h2 class="ui left aligned header">
                    Gallerie
                </h2>
            </div>
            <div class="ui segment">
                <div id="gallery-items">
                    {% for phMedia in post.postHasMedias %}
                        {% if phMedia.media is not null %}
                            {# Define media url to link #}
                            {% if phMedia.isVideoMedia %}
                                <a data-fancybox="gallery" href="{{ phMedia.urlIfVideoMedia }}">
                            {% else %}
                                <a data-fancybox="gallery" href="{% path phMedia.media, 'reference' %}">
                            {% endif %}
                                <img class="ui image gallery-img" src="{% path phMedia.media, 'big' %}" alt="">
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="ui center aligned segment">
                <div id="prevArrow" class="ui button"><i class="ui left arrow icon"></i></div>
                <div id="nextArrow" class="ui button"><i class="ui right arrow icon"></i></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="/front-bundles/node_modules/howler/dist/howler.js"></script>
    <script src="/js/player.js"></script>
    <script>
        createPlayer([{% for phSong in post.postHasSongs %}
            {% set media = phSong.media %}
            {% if media is not null %}
            {
                title: "{{ media.name }}",
                file: "/uploads/media/{% path media, 'reference' %}",
                howl: null
            },
            {% endif %}
            {% endfor %}]
        )
    </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('#gallery-items').slick({
            infinite: true,
            arrows: true,
            prevArrow: $('#prevArrow'),
            nextArrow: $('#nextArrow'),
            variableWidth: true
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script>
        // Dailymotion support
        $.fancybox.defaults.media.dailymotion = {
            matcher : /dailymotion.com\/embed\/video\/(.*)\/?(.*)/,
            params : {
                additionalInfos : 0,
                autoStart : 1
            },
            type : 'iframe',
            url  : '//www.dailymotion.com/embed/video/$1'
        };

        // Article image fancybox
        $('article img').css('cursor', 'pointer')
        $('article img').on('click', function() {
            var image = this;
            $.fancybox.open( {
                src: this.src
            });
        });
    </script>
    <script></script>


{% endblock %}