{% extends 'base.html.twig' %}

{% block main_title %}
    Sites des artistes
{% endblock %}
{% block sub_main_title %}
    {{ websiteNbre }}
{% endblock %}

{% block body %}
    <div class="ui container">
        <div class="ui center aligned four column grid">
            <!-- Content -->
            {% for website in websites %}
                <div class="column">
                    <section class="ui blue card"
                       title="Consulter"
                       website-url="{{ website.websiteUrl }}"
                       author-name="{{ website.artistName }}">
                        <div class="ui fluid image"
                             style="height: 175px; background: url({% path website.coverImage.media, 'reference' %}); background-size:cover">
                            <!-- Blue Ribbon -->
                            <div class="ui blue ribbon label">
                                {{ website.websiteUrl }}
                            </div>
                        </div>

                        <!-- Content block -->
                        <div class="content">
                            <!-- Top row infos -->
                            <a class="left aligned header"><i class="user icon"></i> {{ website.artistName }}</a>
                        </div>
                    </section>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="ui page dimmer">
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('section.ui.blue.card').css('cursor', 'pointer')
        // Card click event
        $('section.ui.blue.card').click(function(){
            // Reset old dimmer
            $('.page.dimmer').empty();
            $('.page.dimmer').css('justify-content', 'flex-start');

            // Close icon
            var icon = document.createElement('i');
            icon.classList = ('ui red close icon');
            icon.style.float = "right";
            icon.style.cursor = 'pointer';
            // Click event for button
            $(icon).click(function(){
                $('.page.dimmer').dimmer('hide')
            });

            // Header
            var header = document.createElement('h2');
            header.textContent = 'Site de ' + $(this).attr('author-name'); // Set text content
            header.classList = ("header");                                // Set class
            header.appendChild(icon);

            // Embed div
            var embed = document.createElement("embed");
            embed.src = $(this).attr('website-url');      // Set src
            embed.style.width = '100%';                   // Styles
            embed.style.height = '100%';
            embed.style.border = '1px solid white'
            embed.style.visibility = 'hidden';

            // Create Content
            var content = document.createElement('div');
            content.classList.add('content'); // Class
            content.style.width = '95%';      // Styles
            content.style.height = '90%';

            // Create loader
            var loader = document.createElement('div');
            loader.classList = "ui indeterminate loader";

            // Append Child (concat)
            content.appendChild(loader);               // Append Loader
            content.appendChild(header);               // Append Header
            content.appendChild(embed);
            embed.addEventListener('load', function()  // Append embed when it is loaded
            {
                embed.style.visibility = 'visible';
                loader.style.display = 'none';
            });

            // Set new Dimmer
            $('.page.dimmer')
                .dimmer('add content', content)
                .dimmer('toggle');
        });
    </script>
{% endblock %}